DataAccess/Web References/wsMCOAWS/MCOAWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LoginCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="empcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="esn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accesskey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginCheckResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginByPush">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="empcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="esn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accesskey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginByPushResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginByPushResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="empcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="esn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imsi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="os" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phonemodel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accesskey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginRegisterResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginRegisterAgain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="empcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="esn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imsi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="os" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phonemodel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accesskey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginRegisterAgainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginRegisterAgainResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="registerid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accesskey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartAppResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartApp2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="registerid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="localVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accesskey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartApp2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartApp2Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendDirecePushMessageByEmpCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pushId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsonData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendDirecePushMessageByEmpCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendDirecePushMessageByEmpCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendDirecePushMessageByLoginID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pushId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsonData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendDirecePushMessageByLoginIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendDirecePushMessageByLoginIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendDirectPushMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pushId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsonData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="registerId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendDirectPushMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendDirectPushMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPushMessageInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pmid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accesskey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPushMessageInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPushMessageInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPushMessageByRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="registerId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iPage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="accesskey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPushMessageByRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPushMessageByRegisterResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearMessageByRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="registerId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="accesskey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearMessageByRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearMessageByRegisterResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppInstructionsByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="versionid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accesskey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppInstructionsByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAppInstructionsByIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppVersionInstructionsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="devicetype" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iPage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="accesskey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppVersionInstructionsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAppVersionInstructionsListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginCheckSoapIn">
    <wsdl:part name="parameters" element="tns:LoginCheck" />
  </wsdl:message>
  <wsdl:message name="LoginCheckSoapOut">
    <wsdl:part name="parameters" element="tns:LoginCheckResponse" />
  </wsdl:message>
  <wsdl:message name="LoginByPushSoapIn">
    <wsdl:part name="parameters" element="tns:LoginByPush" />
  </wsdl:message>
  <wsdl:message name="LoginByPushSoapOut">
    <wsdl:part name="parameters" element="tns:LoginByPushResponse" />
  </wsdl:message>
  <wsdl:message name="LoginRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:LoginRegister" />
  </wsdl:message>
  <wsdl:message name="LoginRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:LoginRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="LoginRegisterAgainSoapIn">
    <wsdl:part name="parameters" element="tns:LoginRegisterAgain" />
  </wsdl:message>
  <wsdl:message name="LoginRegisterAgainSoapOut">
    <wsdl:part name="parameters" element="tns:LoginRegisterAgainResponse" />
  </wsdl:message>
  <wsdl:message name="StartAppSoapIn">
    <wsdl:part name="parameters" element="tns:StartApp" />
  </wsdl:message>
  <wsdl:message name="StartAppSoapOut">
    <wsdl:part name="parameters" element="tns:StartAppResponse" />
  </wsdl:message>
  <wsdl:message name="StartApp2SoapIn">
    <wsdl:part name="parameters" element="tns:StartApp2" />
  </wsdl:message>
  <wsdl:message name="StartApp2SoapOut">
    <wsdl:part name="parameters" element="tns:StartApp2Response" />
  </wsdl:message>
  <wsdl:message name="SendDirecePushMessageByEmpCodeSoapIn">
    <wsdl:part name="parameters" element="tns:SendDirecePushMessageByEmpCode" />
  </wsdl:message>
  <wsdl:message name="SendDirecePushMessageByEmpCodeSoapOut">
    <wsdl:part name="parameters" element="tns:SendDirecePushMessageByEmpCodeResponse" />
  </wsdl:message>
  <wsdl:message name="SendDirecePushMessageByLoginIDSoapIn">
    <wsdl:part name="parameters" element="tns:SendDirecePushMessageByLoginID" />
  </wsdl:message>
  <wsdl:message name="SendDirecePushMessageByLoginIDSoapOut">
    <wsdl:part name="parameters" element="tns:SendDirecePushMessageByLoginIDResponse" />
  </wsdl:message>
  <wsdl:message name="SendDirectPushMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendDirectPushMessage" />
  </wsdl:message>
  <wsdl:message name="SendDirectPushMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendDirectPushMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetPushMessageInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetPushMessageInfo" />
  </wsdl:message>
  <wsdl:message name="GetPushMessageInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetPushMessageInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetPushMessageByRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:GetPushMessageByRegister" />
  </wsdl:message>
  <wsdl:message name="GetPushMessageByRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:GetPushMessageByRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ClearMessageByRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:ClearMessageByRegister" />
  </wsdl:message>
  <wsdl:message name="ClearMessageByRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:ClearMessageByRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="GetAppInstructionsByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetAppInstructionsByID" />
  </wsdl:message>
  <wsdl:message name="GetAppInstructionsByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetAppInstructionsByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetAppVersionInstructionsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAppVersionInstructionsList" />
  </wsdl:message>
  <wsdl:message name="GetAppVersionInstructionsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAppVersionInstructionsListResponse" />
  </wsdl:message>
  <wsdl:portType name="McoaWSSoap">
    <wsdl:operation name="LoginCheck">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">用户登录验证</wsdl:documentation>
      <wsdl:input message="tns:LoginCheckSoapIn" />
      <wsdl:output message="tns:LoginCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginByPush">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">推送用户登录信息</wsdl:documentation>
      <wsdl:input message="tns:LoginByPushSoapIn" />
      <wsdl:output message="tns:LoginByPushSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginRegister">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">用户注册</wsdl:documentation>
      <wsdl:input message="tns:LoginRegisterSoapIn" />
      <wsdl:output message="tns:LoginRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginRegisterAgain">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">用户再次注册(需要进行审核才会生效)</wsdl:documentation>
      <wsdl:input message="tns:LoginRegisterAgainSoapIn" />
      <wsdl:output message="tns:LoginRegisterAgainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StartApp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">应用使用登记</wsdl:documentation>
      <wsdl:input message="tns:StartAppSoapIn" />
      <wsdl:output message="tns:StartAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StartApp2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">应用使用登记-返明是否显示更新说明界面</wsdl:documentation>
      <wsdl:input message="tns:StartApp2SoapIn" />
      <wsdl:output message="tns:StartApp2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendDirecePushMessageByEmpCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">以工号消息直推</wsdl:documentation>
      <wsdl:input message="tns:SendDirecePushMessageByEmpCodeSoapIn" />
      <wsdl:output message="tns:SendDirecePushMessageByEmpCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendDirecePushMessageByLoginID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">以LoginID消息直推</wsdl:documentation>
      <wsdl:input message="tns:SendDirecePushMessageByLoginIDSoapIn" />
      <wsdl:output message="tns:SendDirecePushMessageByLoginIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendDirectPushMessage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">消息直推</wsdl:documentation>
      <wsdl:input message="tns:SendDirectPushMessageSoapIn" />
      <wsdl:output message="tns:SendDirectPushMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPushMessageInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回推送消息内部参数详细信息</wsdl:documentation>
      <wsdl:input message="tns:GetPushMessageInfoSoapIn" />
      <wsdl:output message="tns:GetPushMessageInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPushMessageByRegister">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回指定注册ID的推送消息</wsdl:documentation>
      <wsdl:input message="tns:GetPushMessageByRegisterSoapIn" />
      <wsdl:output message="tns:GetPushMessageByRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearMessageByRegister">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回指定注册ID的推送消息</wsdl:documentation>
      <wsdl:input message="tns:ClearMessageByRegisterSoapIn" />
      <wsdl:output message="tns:ClearMessageByRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppInstructionsByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回指定的应用使用说明图片序列</wsdl:documentation>
      <wsdl:input message="tns:GetAppInstructionsByIDSoapIn" />
      <wsdl:output message="tns:GetAppInstructionsByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppVersionInstructionsList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">返回指定的版本说明书列表</wsdl:documentation>
      <wsdl:input message="tns:GetAppVersionInstructionsListSoapIn" />
      <wsdl:output message="tns:GetAppVersionInstructionsListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="McoaWSSoap" type="tns:McoaWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginCheck">
      <soap:operation soapAction="http://tempuri.org/LoginCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginByPush">
      <soap:operation soapAction="http://tempuri.org/LoginByPush" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginRegister">
      <soap:operation soapAction="http://tempuri.org/LoginRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginRegisterAgain">
      <soap:operation soapAction="http://tempuri.org/LoginRegisterAgain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartApp">
      <soap:operation soapAction="http://tempuri.org/StartApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartApp2">
      <soap:operation soapAction="http://tempuri.org/StartApp2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDirecePushMessageByEmpCode">
      <soap:operation soapAction="http://tempuri.org/SendDirecePushMessageByEmpCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDirecePushMessageByLoginID">
      <soap:operation soapAction="http://tempuri.org/SendDirecePushMessageByLoginID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDirectPushMessage">
      <soap:operation soapAction="http://tempuri.org/SendDirectPushMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPushMessageInfo">
      <soap:operation soapAction="http://tempuri.org/GetPushMessageInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPushMessageByRegister">
      <soap:operation soapAction="http://tempuri.org/GetPushMessageByRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearMessageByRegister">
      <soap:operation soapAction="http://tempuri.org/ClearMessageByRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppInstructionsByID">
      <soap:operation soapAction="http://tempuri.org/GetAppInstructionsByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppVersionInstructionsList">
      <soap:operation soapAction="http://tempuri.org/GetAppVersionInstructionsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="McoaWSSoap12" type="tns:McoaWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginCheck">
      <soap12:operation soapAction="http://tempuri.org/LoginCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginByPush">
      <soap12:operation soapAction="http://tempuri.org/LoginByPush" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginRegister">
      <soap12:operation soapAction="http://tempuri.org/LoginRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginRegisterAgain">
      <soap12:operation soapAction="http://tempuri.org/LoginRegisterAgain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartApp">
      <soap12:operation soapAction="http://tempuri.org/StartApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartApp2">
      <soap12:operation soapAction="http://tempuri.org/StartApp2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDirecePushMessageByEmpCode">
      <soap12:operation soapAction="http://tempuri.org/SendDirecePushMessageByEmpCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDirecePushMessageByLoginID">
      <soap12:operation soapAction="http://tempuri.org/SendDirecePushMessageByLoginID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDirectPushMessage">
      <soap12:operation soapAction="http://tempuri.org/SendDirectPushMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPushMessageInfo">
      <soap12:operation soapAction="http://tempuri.org/GetPushMessageInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPushMessageByRegister">
      <soap12:operation soapAction="http://tempuri.org/GetPushMessageByRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearMessageByRegister">
      <soap12:operation soapAction="http://tempuri.org/ClearMessageByRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppInstructionsByID">
      <soap12:operation soapAction="http://tempuri.org/GetAppInstructionsByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppVersionInstructionsList">
      <soap12:operation soapAction="http://tempuri.org/GetAppVersionInstructionsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="McoaWS">
    <wsdl:port name="McoaWSSoap" binding="tns:McoaWSSoap">
      <soap:address location="http://wap.gzcentaline.com.cn/MCOA_MobileAppWS/MCOAWS.asmx" />
    </wsdl:port>
    <wsdl:port name="McoaWSSoap12" binding="tns:McoaWSSoap12">
      <soap12:address location="http://wap.gzcentaline.com.cn/MCOA_MobileAppWS/MCOAWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>