AutoOverdue/Web References/wsECOA/ECOAws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDocumentLink">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DocumentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplyDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentLinkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentLinkResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDocumentLinkSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentLink" />
  </wsdl:message>
  <wsdl:message name="GetDocumentLinkSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentLinkResponse" />
  </wsdl:message>
  <wsdl:portType name="ECOAwsSoap">
    <wsdl:operation name="GetDocumentLink">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">输入文档的申请表名和申请日期，获得“文档访问地址|F_Model”</wsdl:documentation>
      <wsdl:input message="tns:GetDocumentLinkSoapIn" />
      <wsdl:output message="tns:GetDocumentLinkSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ECOAwsSoap" type="tns:ECOAwsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDocumentLink">
      <soap:operation soapAction="http://tempuri.org/GetDocumentLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ECOAwsSoap12" type="tns:ECOAwsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDocumentLink">
      <soap12:operation soapAction="http://tempuri.org/GetDocumentLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ECOAws">
    <wsdl:port name="ECOAwsSoap" binding="tns:ECOAwsSoap">
      <soap:address location="http://gzs-terminal01:8003/ECOAWS/ECOAws.asmx" />
    </wsdl:port>
    <wsdl:port name="ECOAwsSoap12" binding="tns:ECOAwsSoap12">
      <soap12:address location="http://gzs-terminal01:8003/ECOAWS/ECOAws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>